<!DOCTYPE html>
<html>
  <head>
      <title><%=blocks.title%></title>
   
      <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css"/>
      <link rel="stylesheet" href="/css/main.css"/>
   
  </head>
  <body>
    <header>
        <%-blocks.header%>
    </header>
    <%-partial('topNav')%>
    <div class="container">
        <h1><%=blocks.title%></h1>
     
        <%-body -%>
    </div>
    <footer>
        <%-blocks.footer%>
    </footer>
    <script src="/vendor/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>